/* Responsive Header Styling */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #B4B5DC;
    /* color: #908E9F; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
.logo {
    padding-left: 30px;
}
.logo img {
    max-width: 170px;
    height: 85px;
}
.sidebar{
    width: 40%;
}
.sidebar ul{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.sidebar ul li{
    background-color: black;
    padding: 10px 20px;
    border-radius: 10px;
    list-style-type: none;
}
.sidebar ul li a{
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.header button{
    background-color: black;
    color: white;
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}
body{
    background-color: #eceaf8;
}
.content{
    width: 100%;
/* background-color: #F1F1F1; */
}

.Paraphrasing{
    width: 95%;
    margin: auto;
    position:relative;
    top: 10%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

}
.Grammerly{
    width: 100%;
}
.grammarlychecker{
    padding: 20px;
    width: 95%;
    margin: 0 auto;

}
.Paraphrasing-content{
    display: flex;
    flex-wrap: wrap;
}
.paracontent{
width: 50%;
height: auto;
padding: 15px;
background-color: white;
outline: none;
border-right: 2PX solid gray;
}
.paracontent textarea{
    outline: none;
    border: none;
}
textarea::placeholder {
    padding-left: 12px;
    font-size: 15px;
    color: gray;
    padding-top: 12px;
}
.btn{
    padding: 12px 65px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    float: right;
    color: white;
    background-color: black;
}
.pararesult{
    width: 50%;
    background-color: white;
    /* max-width: 615px; */
}
button {
    padding: 5px 15px;
    margin: 5px 15px;
    cursor: pointer;
  }
  #editor {
    width: 100%;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
  }
  select, input[type="color"] {
    padding: 3px;
    margin: 0 5px;
  }

  #originalText {
    width: 100%;
    max-width: 460px;
}
@media screen and (max-width: 1075px) {
    .sidebar{
        width: 50%;
    }
  }
  @media screen and (max-width: 830px) {
    .sidebar ul li{
        margin-top: 12px;
    }

  }
  @media screen and (max-width: 1032px) {
    textarea{
        max-width: 200px;
    }
  }
